uploaded_files_dir=***REMOTE_SERVER_DIRECTORY_WHERE_FILES_WILL_BE_UPLOADED_TO_FOR_EXAMPLE_~/dl/uploaded_files/***
rpi_firmware_modules_dir=***REMOTE_SERVER_LOCATION_OF_THE_FIRMWARE_RPI2_MODULES_FOR_EXAMPLE_~/pico/micropython/ports/rp2/modules/***
firmware_builder_script=***REMOTE_SERVER_LOCATION_OF_THE_BUILD_FIRMWARE_SCRIPT_FOR_EXAMPLE_~/pico/micropython/build_automatically.sh***